<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-heading">Manage Table {{id}}</h1>
    </div>
  </div>
  <div class="row align-items-start">
    <div class="col-md-6 col-lg-7">
      <mat-card>
        <mat-card-title>
          <code *ngIf="table">{{table.total | number}}</code>Table #{{id}}
        </mat-card-title>
        <mat-card-subtitle *ngIf="table && table.total > 0">
            <button mat-raised-button color="accent" (click)="createNewInvoice()"><mat-icon>monetization_on</mat-icon> Pay</button>
            &nbsp;
            <button mat-raised-button color="warn" (click)="moveTable()"><mat-icon>send</mat-icon> Move</button>
        </mat-card-subtitle>
        <mat-card-content>
          <mat-table [dataSource]="tableSource">           
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.product.name}} </mat-cell>
            </ng-container>        
            <!-- Quantity Column -->
            <ng-container matColumnDef="quantity">
              <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
            </ng-container>
            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
              <mat-cell *matCellDef="let element"> 
                <button mat-icon-button><mat-icon (click)="updateTableProduct(element.product.id, 1, 0)">add</mat-icon></button><button mat-icon-button><mat-icon (click)="updateTableProduct(element.product.id, 2, 0)">remove</mat-icon></button>
                <button mat-icon-button><mat-icon (click)="moveProduct(element)">send</mat-icon></button>
              </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
          </mat-table>
          <mat-paginator #paginator
                 [pageSize]="10"
                 [showFirstLastButtons]="true">
          </mat-paginator>
        </mat-card-content>
      </mat-card>
    </div>
    <div #manage class="col-md-6 col-lg-5">
      <mat-card>
        <mat-card-title>Products</mat-card-title>
        <mat-card-content>
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            <mat-table [dataSource]="productSource">        
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="price">
                  <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.price | number}} </mat-cell>
                </ng-container>
                <!-- Action Column -->
                <ng-container matColumnDef="action">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let element"> 
                    <button mat-icon-button><mat-icon (click)="updateTableProduct(element.id, 1, 0)">add</mat-icon></button>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="productColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: productColumns;"></mat-row>
              </mat-table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>